
.indication_anticpg_edit {
    position: relative !important;
    top: -34px !important;
    right: 30px !important;
    float: right !important;
    color: black;
}

.anticpg_edit {
    position: relative !important;
    top: 0px !important;
    right: 88px !important;
    float: right !important;
    color: black;
}